@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+QLD:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --shadow-custom: "0 0 15 -10 rgba(0, 0, 0, 0.75)";
}

@layer base {
  * {
    font-family: "Roboto", sans-serif;
  }
}
